<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username, @shop.username_text or nil %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password, @shop.password_text or nil %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.hidden_field :shop_id, value: @shop.id %><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
