<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :username, @shop.username_text %>
        <%= f.text_field :username %>
      </li>
      <li>
        <%= f.label :password, @shop.password_text %>
        <%= f.password_field :password %>
      </li>
    </ol>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %><%= f.label :remember_me, t('remember_me') %>
    <% end -%>
    <%= f.hidden_field :shop_id, value: @shop.id %>
    <%= f.submit t('sign_in') %>
  </fieldset>
<% end %>

<div>Vi er i &oslash;jeblikket ved at oprette brugere. Alle brugere er oprettet snarest.</div>

<%= render :partial => "devise/shared/links" %>
