<!DOCTYPE html>
<html>
  <head>
    <title>Jul</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="header">
    <%= image_tag @shop.logo.url if @shop.logo.exists? %>
  </div>

  <div id="nav">
    <ul>
      <li><%= link_to_unless_current 'Welcome', "/#{@shop.link}" %></li>
      <li>
        <%= link_to_unless_current 'Presents', shop_products_path(@shop) %>
      </li>
    </ul>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
  </div>

  </body>
</html>
